mysql:
    image: mysql:5.7
    environment:
     - MYSQL_ROOT_PASSWORD=HJ0527LY
     - MYSQL_DATABASE=huojingyuan
    ports:
     - "3306:3306"
huojingyuan:
    build: .
    links:
     - mysql
    environment:
     - WORDPRESS_DB_PASSWORD=HJ0527LY
    ports:
     - "9006:9006"
    
   